<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodApp"
        tools:targetApi="31">
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".AdminChooseLocationActivity"
            android:exported="false" />
        <activity
            android:name=".AdminCompletedOrders"
            android:exported="false" />
        <activity
            android:name=".OrderItemDetails"
            android:exported="false" />
        <activity
            android:name=".AdminLockScreenActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPendingOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAllItemActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAddItemActivity"
            android:exported="false" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSignupActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".LanguageSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".detail_activity"
            android:exported="false" />
        <activity
            android:name=".notification_activity"
            android:exported="false" />
        <activity
            android:name=".menu"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".congrats_activity"
            android:exported="false" />
        <activity
            android:name=".pay_out"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChooseLocationActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>